{%extends "base.html"%}
{%block content%}
<h3>Privacy and Policy</h3>

<p><b>Last updated:</b> June 2025</p>
<p>Rolsa Technology (“we”, “our”, or “us”) is committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you interact with our website, 
    applications, and technology solutions focused on energy usage conversion and optimization.

By using our services, you agree to the collection and use of information in accordance with this Privacy Policy.</p><br>

<h4>1. Information We Collect</h4>
<p><b>a. Perosnal Information</b><br>When you voluntarily provide it, we collect:</p>
<ul>
    <li>Name</li>
    <li>Email address</li>
    <li>Any other information you choose to provide when contacting us</li>
</ul>

<p><b>b. Technical & Usuage Information</b><br>When you use our services, we may automatically collect:</p>
<ul>
    <li>Device type and browser information</li>
    <li>IP address</li>
    <li>Energy usuage data and system performance metrics</li>
    <li>Log files and usuage patterns</li>
</ul>

<h4>2. How We Use Your Information</h4>
<p>Rolsa Technology uses collected information to:<br></p>
<ul>
    <li>Provide, operate and maintain our energy conversion technologies</li>
    <li>Analyze and optimize energy usuage and efficiency</li>
    <li>Improve our ptoducts, services and user experience</li>
    <li>Ensure system security and prevent fraud</li>
</ul>
<p>We <b>do not sell</b> personal data to third parties</p>

<h4>3. Data Sharing and Disclosure</h4>
<p>We may share information only in the following situations:<br></p>
<ul>
    <li>With trusted service providers who assist in operating our serves</li>
    <li>To comply with legal obligations or lawful requests</li>
    <li>To protect he rights, safety and security of Rolsa technology</li>
</ul>
<p>All third parties are required to maintain the confidentiality and security of your data</p>

{%endblock%}